.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
}

mat-card {
    margin-top: 16px;
    margin-bottom: 16px;
    max-width: 400px;
    min-width: 320px;
}

table {
    width: 100%;
    margin-bottom: 8px;
}

.mat-column-type {
    text-align: left;
}

.mat-column-count {
    width: 32px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

th.mat-mdc-header-cell:last-of-type,
td.mat-mdc-cell:last-of-type,
td.mat-mdc-footer-cell:last-of-type {
    padding-right: 4px;
}

th.mat-mdc-header-cell:first-of-type,
td.mat-mdc-cell:first-of-type,
td.mat-mdc-footer-cell:first-of-type {
    padding-left: 4px;
}

.agent {
    color: #ffe864 !important;
}

.client {
    color: #f36b6b !important;
}

.mentor {
    color: #a9c2f0 !important;
}

.talent {
    color: #ffbe96 !important;
}