<div class="container">
    <mat-card appearance="outlined">
        <mat-card-header>
            <mat-card-title class="mat-headline-5 title">Waitlist - User count</mat-card-title>
            <mat-card-subtitle class="mat-subtitle-1">Total: {{ total }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <table *ngIf="dataSource.data.length; else nodata" mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
                    <td mat-cell *matCellDef="let element">
                        <span
                            *ngIf="element.type === 'agent' || element.type === 'initiator' || element.type === 'contractor' || element.type === 'mentor' ; else notActor"
                            class="{{element.type}}">
                            {{element.type | uppercase}}</span>
                        <ng-template #notActor>
                            <span>{{element.type | uppercase}}</span>
                        </ng-template>
                    </td>
                </ng-container>

                <ng-container matColumnDef="count">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Count</th>
                    <td mat-cell *matCellDef="let element">{{element.count}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <ng-template #nodata>
                <div class="nodata"><mat-icon aria-hidden="false" aria-label="no data"
                        fontIcon="sync_problem"></mat-icon><b>NO DATA</b></div>
            </ng-template>
            <div *ngIf="dataSource?.data?.length" style="display: block;">
                <canvas baseChart [data]="data" [type]="chartType" [options]="chartOptions">
                </canvas>
            </div>
        </mat-card-content>
        <mat-card-actions align="end" *ngIf="dataSource?.data?.length">
            <a mat-raised-button href="{{url}}" color="primary" style="width: 100%;" target="_blank">Download Users list
                - CSV</a>
        </mat-card-actions>
        <mat-card-footer>
            <mat-progress-bar *ngIf="progressing" mode="indeterminate"></mat-progress-bar>
        </mat-card-footer>
    </mat-card>
</div>