.actors {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly
}

.mat-card {
    width: 33%; // or fixed size...
    margin-bottom: 16px;
}

@media all and (max-device-width: 600px) {
    .actors {
        flex-direction: column;
    }

    .mat-card {
        width: 90%;
    }
}