.actors {
    display: flex;
    flex-wrap: wrap-reverse;
    align-content: center;
    justify-content: space-evenly;
    align-items: flex-start;
}

app-client {
    order: 2;
}

@media all and (max-width: 500px) {
    .actors {
        flex-direction: column;
        align-items: center;
    }

    app-client {
        order: -1;
    }
}