<div class="actors">
    <mat-card>
        <mat-card-title>Client</mat-card-title>
        <mat-card-subtitle>Projects</mat-card-subtitle>
    </mat-card>
    <mat-card>
        <mat-card-title>Talent</mat-card-title>
        <mat-card-subtitle>Skills</mat-card-subtitle>
    </mat-card>
    <mat-card>
        <mat-card-title>Agent</mat-card-title>
        <mat-card-subtitle>Network</mat-card-subtitle>
    </mat-card>
    <mat-card>
        <mat-card-title>Mentor</mat-card-title>
        <mat-card-subtitle>Profiency</mat-card-subtitle>
    </mat-card>
</div>