<div class="actors">
    <app-client></app-client>
    <app-talent></app-talent>
    <mat-card class="mat-elevation-z2">
        <mat-card-title>Agent</mat-card-title>
        <mat-card-subtitle>Connection Builder</mat-card-subtitle>
        <mat-card-content>
            Details coming soon...
        </mat-card-content>
    </mat-card>
    <mat-card class="mat-elevation-z2">
        <mat-card-title>Mentor</mat-card-title>
        <mat-card-subtitle>Proficient Leader</mat-card-subtitle>
        <mat-card-content>
            Details coming soon...
        </mat-card-content>
    </mat-card>
</div>