p {
    text-align: center;
    font-weight: bolder;
    font-size: xx-large;
    margin-top: 2%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home {
    margin-top: 2%;
}

a {
    text-decoration: none;
}