.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 64px;
}

.mat-headline-3 {
    text-align: center;
    font-weight: 300;
    margin-bottom: 32px;
}

.media {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

a {
    font-size: xx-large;
    font-weight: lighter;
    text-decoration: none;
    margin-bottom: 32px;
    text-align: center;
}

.outdated {
    font-size: medium;
    margin-top: -32px;
    color: lightsalmon;
    font-weight: bold;
}

@media all and (max-width: 500px) {
    .media {
        width: auto;
    }
}