.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 74px;
}

.mat-display-2 {
    text-align: center;
    font-weight: 300;
    margin-bottom: 32px;
}

.media {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

a {
    font-size: xx-large;
    font-weight: lighter;
}

@media all and (max-width: 500px) {
    .media {
        flex-direction: column;
        width: auto;
    }

    a {
        margin-bottom: 16px;
    }
}