<mat-card appearance="outlined" class="mat-elevation-z2">
    <div class="ribbon"></div>
    <mat-card-header>
        <mat-card-title class="mat-headline-5 title">What to expect as an Initiator</mat-card-title>
        <mat-card-subtitle class="mat-subtitle-1">You are a Project Owner / Client</mat-card-subtitle>
    </mat-card-header>
    <div class="ribbon"></div>
    <mat-card-content>
        <p><span class="icon">🌐</span><span class="text">Access to a Global Community of Professionals</span></p>
        <p><span class="icon">🌟</span><span class="text">Find the Best Talents / Teams for your Projects</span></p>
        <p><span class="icon">😎</span><span class="text">Be more Confident about Delivery</span></p>
        <p><span class="icon">💎</span><span class="text">Pay with Tokens / Crypto-Currency</span></p>
        <p><span class="icon">🔒</span><span class="text">Control and Secure your Payments</span></p>
    </mat-card-content>
</mat-card>