<mat-card class="mat-elevation-z2">
    <mat-card-title>Client</mat-card-title>
    <mat-card-subtitle>Project Owner</mat-card-subtitle>
    <div class="ribbon"></div>
    <mat-card-content>
        <p><span class="icon">🌐</span><span class="text">Access to a Global Community of Professionals</span></p>
        <p><span class="icon">🌟</span><span class="text">Find the Best Talents for your Projects</span></p>
        <p><span class="icon">😎</span><span class="text">Be more Confident about Delivery</span></p>
        <p><span class="icon">💎</span><span class="text">Pay with Tokens / Crypto-Currency</span></p>
        <p><span class="icon">🔒</span><span class="text">Control and Secure your Payments</span></p>
    </mat-card-content>
</mat-card>