.ribbon {
    background-color: #F36B6B;
    height: 16px;
    margin-bottom: 16px;
}

p {
    font-size: large;
}

.mat-card {
    margin-bottom: 16px;
    width: 450px;
    min-height: 290px;
}

@media all and (max-width: 500px) {
    .mat-card {
        width: 350px;
    }
}