.ribbon {
    background-color: #A9C2F0;
    height: 16px;
    margin-bottom: 16px;
}

.icon {
    font-size: x-large;
}

.text {
    font-size: large;
    margin-left: 8px;
}

.mat-card {
    margin-bottom: 16px;
    width: 450px;
    min-height: 290px;
}

@media all and (max-width: 500px) {
    .mat-card {
        width: 350px;
    }
}