<mat-card appearance="outlined" class="mat-elevation-z2">
    <div class="ribbon"></div>
    <mat-card-header>
        <mat-card-title class="mat-headline-5 title">What to expect as a Mentor</mat-card-title>
        <mat-card-subtitle class="mat-subtitle-1">You are a Proficient Leader</mat-card-subtitle>
    </mat-card-header>
    <div class="ribbon"></div>
    <mat-card-content>
        <p><span class="icon">💎</span><span class="text">Mentor-to-Earn</span></p>
        <p><span class="icon">⭐️</span><span class="text">Become a Trusted Leader</span></p>
        <p><span class="icon">👨‍🏫</span><span class="text">Mentor / Advise other Professionals</span></p>
        <p><span class="icon">🛠</span><span class="text">Support Amazing Projects</span></p>
        <p><span class="icon">💡</span><span class="text">Share Ideas</span></p>
        <p><span class="icon">🤑</span><span class="text">Convert Proficiency into Earnings</span></p>
    </mat-card-content>
</mat-card>