<mat-card class="mat-elevation-z2">
    <mat-card-title>Mentor</mat-card-title>
    <mat-card-subtitle>Proficient Leader</mat-card-subtitle>
    <div class="ribbon"></div>
    <mat-card-content>
        <p><span class="icon">👨‍🏫</span><span class="text">Mentor / Advise other Professionals</span></p>
        <p><span class="icon">⭐️</span><span class="text">Become a Trusted Leader</span></p>
        <p><span class="icon">🛠</span><span class="text">Support Amazing Projects</span></p>
        <p><span class="icon">🤑</span><span class="text">Convert Profiency into Earning</span></p>
        <p><span class="icon">💎</span><span class="text">Secure and Increase your Incomes</span></p>
    </mat-card-content>
</mat-card>