<div class="container">
    <mat-card *ngIf="!submitted; else elseBlock">
        <mat-card-title>Preregistration - Waitlist</mat-card-title>
        <mat-card-subtitle>Enter your ETH Address, your Email Address and Select a User Type
        </mat-card-subtitle>
        <mat-card-content>
            <form [formGroup]="preregistrationForm">
                <mat-form-field hintLabel="For Airdrops / Giveaways" class="full-width" appearance="outline"
                    color="accent">
                    <mat-label>ETH Address</mat-label>
                    <input matInput type="text" required formControlName="address">
                    <mat-error *ngIf="address.hasError('invalidEthAddress') && !address.hasError('required')">
                        Please enter a valid ETH Address
                    </mat-error>
                    <mat-error *ngIf="address.hasError('required')">
                        ETH Address is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field hintLabel="Encrypted and Secured, for further Contacts" class="full-width"
                    appearance="outline" color="accent">
                    <mat-label>Email Address</mat-label>
                    <input matInput type="email" required formControlName="email">
                    <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
                        Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="email.hasError('required')">
                        Email is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width" appearance="outline" color="accent">
                    <mat-label>User Type</mat-label>
                    <mat-select required formControlName="type">
                        <mat-option *ngFor="let t of types" value="{{t}}">{{t | uppercase}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="type.hasError('required')">
                        User type is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </form>
            <mat-error *ngIf="submissionError">
                {{submissionError}}
            </mat-error>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-raised-button routerLink="/">Home</button>
            <button mat-raised-button color="primary" (click)="submit()"
                [disabled]="!preregistrationForm.valid || progressing">Submit</button>
        </mat-card-actions>
        <mat-card-footer>
            <mat-progress-bar *ngIf="progressing" mode="indeterminate"></mat-progress-bar>
        </mat-card-footer>
    </mat-card>
    <ng-template #elseBlock>
        <mat-card>
            <mat-card-title>We need to validate your email 😏</mat-card-title>
            <mat-card-subtitle>The preregistration form has been successfully submitted but additionnal controls are now
                required.
            </mat-card-subtitle>
            <mat-card-content>
                <p>
                    Check your emails and complete the process as soon as possible... no more than 20 seconds 😜
                </p>
                <p>
                    We have sent an email to <code>{{email.value}}</code>
                </p>
            </mat-card-content>
        </mat-card>
    </ng-template>

</div>