<mat-card appearance="outlined" class="mat-elevation-z2">
    <div class="ribbon"></div>
    <mat-card-header>
        <mat-card-title class="mat-headline-5 title">What to expect as an Agent</mat-card-title>
        <mat-card-subtitle class="mat-subtitle-1">You are a Connection Builder</mat-card-subtitle>
    </mat-card-header>
    <div class="ribbon"></div>
    <mat-card-content>
        <p><span class="icon">💎</span><span class="text">(Recruit | Deal)-to-Earn</span></p>
        <p><span class="icon">👨‍🚀</span><span class="text">Safely Jump into Blockchain / Web3 </span></p>
        <p><span class="icon">✨</span><span class="text">Get in touch with Vetted Experts & Trusted Advisors</span></p>
        <p><span class="icon">🤝</span><span class="text">Facilitate Business Contacts</span></p>
        <p><span class="icon">🌱</span><span class="text">Build a New Model and New Relationships</span></p>
    </mat-card-content>
</mat-card>