.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register {
    margin-top: 64px;
    margin-bottom: 64px;
    padding: 12px;
}

.actioncall2 {
    margin-top: 0;
}