<div class="content">
        <app-credo></app-credo>
        <app-actors></app-actors>
        <button mat-raised-button class="register" color="primary" routerLink="/register"><span
                        class="mat-display-2">Join the Waitlist</span></button>
        <app-values></app-values>
        <button mat-raised-button class="register actioncall2" color="primary" routerLink="/register"><span
                        class="mat-display-2">Join the Waitlist</span></button>
        <app-deck-wp></app-deck-wp>
        <app-social-media></app-social-media>
</div>