<div class="content">
        <app-credo></app-credo>
        <!-- <app-intro-video></app-intro-video> -->
        <!-- <app-actors></app-actors> -->
        <button mat-raised-button class="register mat-headline-4" color="primary" routerLink="/register">join the
                waitlist</button>
        <button mat-raised-button class="register actioncall2 mat-headline-4" color="primary"
                routerLink="/register">join the waitlist</button>
        <app-deck-wp></app-deck-wp>
        <app-social-media></app-social-media>
</div>