<mat-card class="mat-elevation-z2">
    <mat-card-title>Talent</mat-card-title>
    <mat-card-subtitle>Skilful Freelance</mat-card-subtitle>
    <mat-card-content>
        <p>🚀 Find Amazing Projects</p>
        <p>💫 Collaborate with Trusted Clients</p>
        <p>💰 Get Additional Rewards for your Job</p>
        <p>💎 Secure and Increase your Incomes</p>
        <p>🧙‍♂️ Team up with Experts</p>
        <p>🤗 Never Work Alone anymore</p>
    </mat-card-content>
    <div class="ribbon"></div>
</mat-card>