<mat-card class="mat-elevation-z2">
    <mat-card-title>Talent</mat-card-title>
    <mat-card-subtitle>Skilful Freelance</mat-card-subtitle>
    <div class="ribbon"></div>
    <mat-card-content>
        <p><span class="icon">🚀</span><span class="text">Find Amazing Projects</span></p>
        <p><span class="icon">💫</span><span class="text">Collaborate with Trusted Clients</span></p>
        <p><span class="icon">💰</span><span class="text">Get Additional Rewards for your Job</span></p>
        <p><span class="icon">💎</span><span class="text">Secure and Increase your Income</span></p>
        <p><span class="icon">🧙‍♂️</span><span class="text">Team up with Experts</span></p>
        <p><span class="icon">🤗</span><span class="text">Don't Work Alone anymore</span></p>
    </mat-card-content>
</mat-card>