@use '@angular/material'as mat;

@include mat.legacy-core();

$fairhive-typography: mat.define-typography-config();
@include mat.typography-hierarchy($fairhive-typography);

$fairhive-primary: mat.define-palette(mat.$deep-orange-palette, 400, 300, 600);
$fairhive-accent: mat.define-palette(mat.$teal-palette, 300, 200, 500);
$fairhive-warn: mat.define-palette(mat.$red-palette);

$fairhive-light-theme: mat.define-light-theme((color: (primary: $fairhive-primary,
            accent: $fairhive-accent,
            warn: $fairhive-warn,
        )));

$fairhive-dark-theme: mat.define-dark-theme((color: (primary: $fairhive-primary,
            accent: $fairhive-accent,
            warn: $fairhive-warn,
        )));

$fairhive-dark-background: (status-bar: black,
    app-bar: rgb(12, 14, 23),
    background: rgb(22, 24, 33), // reference
    hover: rgba(255, 255, 255, 0.04),
    card: rgb(47, 49, 58),
    dialog: rgb(47, 49, 58),
    disabled-button: rgba(255, 255, 255, 0.12),
    raised-button: rgb(47, 49, 58),
    focused-button: rgba(255, 255, 255, 0.12),
    selected-button: rgb(22, 24, 33),
    selected-disabled-button: rgb(47, 49, 58),
    disabled-button-toggle: black,
    unselected-chip: #36435d,
    disabled-list-option: rgba(255, 255, 255, 0.12),
    tooltip: #36435d,
);

$dark-color-config: map-get($fairhive-dark-theme, color);
$dark-color-config: map-merge($dark-color-config, (background: $fairhive-dark-background));
$fairhive-dark-theme: map-merge($fairhive-dark-theme, (color:$dark-color-config));
$fairhive-dark-theme: map-merge($fairhive-dark-theme, (background: $fairhive-dark-background));

@include mat.all-component-themes($fairhive-light-theme);

.dark-theme {
    @include mat.all-component-colors($fairhive-dark-theme);
    background: linear-gradient(to right, rgba(3, 7, 87, 1) 0%, rgba(92, 14, 133, 1) 100%) !important;
}

html,
body {
    min-height: 100vh;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}