@use '@angular/material'as mat;

// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-legacy-typography-config());`
@include mat.all-legacy-component-typographies();
@include mat.legacy-core();

$fairhive-primary: mat.define-palette(mat.$deep-orange-palette, 400, 300, 600);
$fairhive-accent: mat.define-palette(mat.$teal-palette, 300, 200, 500);
$fairhive-warn: mat.define-palette(mat.$red-palette);

$fairhive-light-theme: mat.define-light-theme((color: (primary: $fairhive-primary,
            accent: $fairhive-accent,
            warn: $fairhive-warn,
        )));

$fairhive-dark-theme: mat.define-dark-theme((color: (primary: $fairhive-primary,
            accent: $fairhive-accent,
            warn: $fairhive-warn,
        )));

$fairhive-dark-background: (status-bar: black,
    app-bar: rgb(12, 14, 23),
    background: rgb(22, 24, 33), // reference
    hover: rgba(255, 255, 255, 0.04),
    card: rgb(47, 49, 58),
    dialog: rgb(47, 49, 58),
    disabled-button: rgba(255, 255, 255, 0.12),
    raised-button: rgb(47, 49, 58),
    focused-button: rgba(255, 255, 255, 0.12),
    selected-button: rgb(22, 24, 33),
    selected-disabled-button: rgb(47, 49, 58),
    disabled-button-toggle: black,
    unselected-chip: #36435d,
    disabled-list-option: rgba(255, 255, 255, 0.12),
    tooltip: #36435d,
);

$dark-color-config: map-get($fairhive-dark-theme, color);
$dark-color-config: map-merge($dark-color-config, (background: $fairhive-dark-background));
$fairhive-dark-theme: map-merge($fairhive-dark-theme, (color:$dark-color-config));
$fairhive-dark-theme: map-merge($fairhive-dark-theme, (background: $fairhive-dark-background));

@include mat.all-legacy-component-colors($fairhive-light-theme);

.dark-theme {
    @include mat.all-legacy-component-themes($fairhive-dark-theme);
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}