@use '@angular/material'as mat;

@include mat.core();

$fairhive-primary: mat.define-palette(mat.$red-palette, 400, 300, 600);
$fairhive-accent: mat.define-palette(mat.$teal-palette, 300, 200, 500);
$fairhive-warn: mat.define-palette(mat.$deep-orange-palette);

$fairhive-dark-theme: mat.define-dark-theme((color: (primary: $fairhive-primary,
            accent: $fairhive-accent,
            warn: $fairhive-warn,
        )));

// @debug $fairhive-dark-theme;

$fairhive-light-theme: mat.define-light-theme((color: (primary: $fairhive-primary,
            accent: $fairhive-accent,
            warn: $fairhive-warn,
        )));

$fairhive-dark-theme: (color: (primary: (50: #ffebee,
            100: #ffcdd2,
            200: #ef9a9a,
            300: #e57373,
            400: #ef5350,
            500: #f44336,
            600: #e53935,
            700: #d32f2f,
            800: #c62828,
            900: #b71c1c,
            A100: #ff8a80,
            A200: #ff5252,
            A400: #ff1744,
            A700: #d50000,
            contrast: (50: rgba(0, 0, 0, 0.87),
                100: rgba(0, 0, 0, 0.87),
                200: rgba(0, 0, 0, 0.87),
                300: rgba(0, 0, 0, 0.87),
                400: rgba(0, 0, 0, 0.87),
                500: white,
                600: white,
                700: white,
                800: white,
                900: white,
                A100: rgba(0, 0, 0, 0.87),
                A200: white,
                A400: white,
                A700: white,
            ),
            default: #ef5350,
            lighter: #e57373,
            darker: #e53935,
            text: #ef5350,
            default-contrast: rgba(0, 0, 0, 0.87),
            lighter-contrast: rgba(0, 0, 0, 0.87),
            darker-contrast: white,
            "50-contrast": rgba(0, 0, 0, 0.87),
            "100-contrast": rgba(0, 0, 0, 0.87),
            "200-contrast": rgba(0, 0, 0, 0.87),
            "300-contrast": rgba(0, 0, 0, 0.87),
            "400-contrast": rgba(0, 0, 0, 0.87),
            "500-contrast": white,
            "600-contrast": white,
            "700-contrast": white,
            "800-contrast": white,
            "900-contrast": white,
            "A100-contrast": rgba(0, 0, 0, 0.87),
            "A200-contrast": white,
            "A400-contrast": white,
            "A700-contrast": white,
            "contrast-contrast": null,
        ),
        accent: (50: #e0f2f1,
            100: #b2dfdb,
            200: #80cbc4,
            300: #4db6ac,
            400: #26a69a,
            500: #009688,
            600: #00897b,
            700: #00796b,
            800: #00695c,
            900: #004d40,
            A100: #a7ffeb,
            A200: #64ffda,
            A400: #1de9b6,
            A700: #00bfa5,
            contrast: (50: rgba(0, 0, 0, 0.87),
                100: rgba(0, 0, 0, 0.87),
                200: rgba(0, 0, 0, 0.87),
                300: rgba(0, 0, 0, 0.87),
                400: rgba(0, 0, 0, 0.87),
                500: white,
                600: white,
                700: white,
                800: white,
                900: white,
                A100: rgba(0, 0, 0, 0.87),
                A200: rgba(0, 0, 0, 0.87),
                A400: rgba(0, 0, 0, 0.87),
                A700: rgba(0, 0, 0, 0.87),
            ),
            default: #4db6ac,
            lighter: #80cbc4,
            darker: #009688,
            text: #4db6ac,
            default-contrast: rgba(0, 0, 0, 0.87),
            lighter-contrast: rgba(0, 0, 0, 0.87),
            darker-contrast: white,
            "50-contrast": rgba(0, 0, 0, 0.87),
            "100-contrast": rgba(0, 0, 0, 0.87),
            "200-contrast": rgba(0, 0, 0, 0.87),
            "300-contrast": rgba(0, 0, 0, 0.87),
            "400-contrast": rgba(0, 0, 0, 0.87),
            "500-contrast": white,
            "600-contrast": white,
            "700-contrast": white,
            "800-contrast": white,
            "900-contrast": white,
            "A100-contrast": rgba(0, 0, 0, 0.87),
            "A200-contrast": rgba(0, 0, 0, 0.87),
            "A400-contrast": rgba(0, 0, 0, 0.87),
            "A700-contrast": rgba(0, 0, 0, 0.87),
            "contrast-contrast": null,
        ),
        warn: (50: #fbe9e7,
            100: #ffccbc,
            200: #ffab91,
            300: #ff8a65,
            400: #ff7043,
            500: #ff5722,
            600: #f4511e,
            700: #e64a19,
            800: #d84315,
            900: #bf360c,
            A100: #ff9e80,
            A200: #ff6e40,
            A400: #ff3d00,
            A700: #dd2c00,
            contrast: (50: rgba(0, 0, 0, 0.87),
                100: rgba(0, 0, 0, 0.87),
                200: rgba(0, 0, 0, 0.87),
                300: rgba(0, 0, 0, 0.87),
                400: rgba(0, 0, 0, 0.87),
                500: white,
                600: white,
                700: white,
                800: white,
                900: white,
                A100: rgba(0, 0, 0, 0.87),
                A200: rgba(0, 0, 0, 0.87),
                A400: white,
                A700: white,
            ),
            default: #ff5722,
            lighter: #ffccbc,
            darker: #e64a19,
            text: #ff5722,
            default-contrast: white,
            lighter-contrast: rgba(0, 0, 0, 0.87),
            darker-contrast: white,
            "50-contrast": rgba(0, 0, 0, 0.87),
            "100-contrast": rgba(0, 0, 0, 0.87),
            "200-contrast": rgba(0, 0, 0, 0.87),
            "300-contrast": rgba(0, 0, 0, 0.87),
            "400-contrast": rgba(0, 0, 0, 0.87),
            "500-contrast": white,
            "600-contrast": white,
            "700-contrast": white,
            "800-contrast": white,
            "900-contrast": white,
            "A100-contrast": rgba(0, 0, 0, 0.87),
            "A200-contrast": rgba(0, 0, 0, 0.87),
            "A400-contrast": white,
            "A700-contrast": white,
            "contrast-contrast": null,
        ),
        is-dark: true,
        foreground: (base: white,
            divider: rgba(255, 255, 255, 0.12),
            dividers: rgba(255, 255, 255, 0.12),
            disabled: rgba(255, 255, 255, 0.5),
            disabled-button: rgba(255, 255, 255, 0.3),
            disabled-text: rgba(255, 255, 255, 0.5),
            elevation: black,
            hint-text: rgba(255, 255, 255, 0.5),
            secondary-text: rgba(255, 255, 255, 0.7),
            icon: white,
            icons: white,
            text: white,
            slider-min: white,
            slider-off: rgba(255, 255, 255, 0.3),
            slider-off-active: rgba(255, 255, 255, 0.3),
        ),
        background: (status-bar: black,
            app-bar: #11151c,
            background: #171d27,
            hover: rgba(255, 255, 255, 0.04),
            card: #313e57,
            dialog: #313e57,
            disabled-button: rgba(255, 255, 255, 0.12),
            raised-button: #313e57,
            focused-button: rgba(255, 255, 255, 0.12),
            selected-button: #171d27,
            selected-disabled-button: #313e57,
            disabled-button-toggle: black,
            unselected-chip: #36435d, //
            disabled-list-option: rgba(255, 255, 255, 0.12),
            tooltip: #36435d, //
        ),
    ),
    primary: (50: #ffebee,
        100: #ffcdd2,
        200: #ef9a9a,
        300: #e57373,
        400: #ef5350,
        500: #f44336,
        600: #e53935,
        700: #d32f2f,
        800: #c62828,
        900: #b71c1c,
        A100: #ff8a80,
        A200: #ff5252,
        A400: #ff1744,
        A700: #d50000,
        contrast: (50: rgba(0, 0, 0, 0.87),
            100: rgba(0, 0, 0, 0.87),
            200: rgba(0, 0, 0, 0.87),
            300: rgba(0, 0, 0, 0.87),
            400: rgba(0, 0, 0, 0.87),
            500: white,
            600: white,
            700: white,
            800: white,
            900: white,
            A100: rgba(0, 0, 0, 0.87),
            A200: white,
            A400: white,
            A700: white,
        ),
        default: #ef5350,
        lighter: #e57373,
        darker: #e53935,
        text: #ef5350,
        default-contrast: rgba(0, 0, 0, 0.87),
        lighter-contrast: rgba(0, 0, 0, 0.87),
        darker-contrast: white,
        "50-contrast": rgba(0, 0, 0, 0.87),
        "100-contrast": rgba(0, 0, 0, 0.87),
        "200-contrast": rgba(0, 0, 0, 0.87),
        "300-contrast": rgba(0, 0, 0, 0.87),
        "400-contrast": rgba(0, 0, 0, 0.87),
        "500-contrast": white,
        "600-contrast": white,
        "700-contrast": white,
        "800-contrast": white,
        "900-contrast": white,
        "A100-contrast": rgba(0, 0, 0, 0.87),
        "A200-contrast": white,
        "A400-contrast": white,
        "A700-contrast": white,
        "contrast-contrast": null,
    ),
    accent: (50: #e0f2f1,
        100: #b2dfdb,
        200: #80cbc4,
        300: #4db6ac,
        400: #26a69a,
        500: #009688,
        600: #00897b,
        700: #00796b,
        800: #00695c,
        900: #004d40,
        A100: #a7ffeb,
        A200: #64ffda,
        A400: #1de9b6,
        A700: #00bfa5,
        contrast: (50: rgba(0, 0, 0, 0.87),
            100: rgba(0, 0, 0, 0.87),
            200: rgba(0, 0, 0, 0.87),
            300: rgba(0, 0, 0, 0.87),
            400: rgba(0, 0, 0, 0.87),
            500: white,
            600: white,
            700: white,
            800: white,
            900: white,
            A100: rgba(0, 0, 0, 0.87),
            A200: rgba(0, 0, 0, 0.87),
            A400: rgba(0, 0, 0, 0.87),
            A700: rgba(0, 0, 0, 0.87),
        ),
        default: #4db6ac,
        lighter: #80cbc4,
        darker: #009688,
        text: #4db6ac,
        default-contrast: rgba(0, 0, 0, 0.87),
        lighter-contrast: rgba(0, 0, 0, 0.87),
        darker-contrast: white,
        "50-contrast": rgba(0, 0, 0, 0.87),
        "100-contrast": rgba(0, 0, 0, 0.87),
        "200-contrast": rgba(0, 0, 0, 0.87),
        "300-contrast": rgba(0, 0, 0, 0.87),
        "400-contrast": rgba(0, 0, 0, 0.87),
        "500-contrast": white,
        "600-contrast": white,
        "700-contrast": white,
        "800-contrast": white,
        "900-contrast": white,
        "A100-contrast": rgba(0, 0, 0, 0.87),
        "A200-contrast": rgba(0, 0, 0, 0.87),
        "A400-contrast": rgba(0, 0, 0, 0.87),
        "A700-contrast": rgba(0, 0, 0, 0.87),
        "contrast-contrast": null,
    ),
    warn: (50: #fbe9e7,
        100: #ffccbc,
        200: #ffab91,
        300: #ff8a65,
        400: #ff7043,
        500: #ff5722,
        600: #f4511e,
        700: #e64a19,
        800: #d84315,
        900: #bf360c,
        A100: #ff9e80,
        A200: #ff6e40,
        A400: #ff3d00,
        A700: #dd2c00,
        contrast: (50: rgba(0, 0, 0, 0.87),
            100: rgba(0, 0, 0, 0.87),
            200: rgba(0, 0, 0, 0.87),
            300: rgba(0, 0, 0, 0.87),
            400: rgba(0, 0, 0, 0.87),
            500: white,
            600: white,
            700: white,
            800: white,
            900: white,
            A100: rgba(0, 0, 0, 0.87),
            A200: rgba(0, 0, 0, 0.87),
            A400: white,
            A700: white,
        ),
        default: #ff5722,
        lighter: #ffccbc,
        darker: #e64a19,
        text: #ff5722,
        default-contrast: white,
        lighter-contrast: rgba(0, 0, 0, 0.87),
        darker-contrast: white,
        "50-contrast": rgba(0, 0, 0, 0.87),
        "100-contrast": rgba(0, 0, 0, 0.87),
        "200-contrast": rgba(0, 0, 0, 0.87),
        "300-contrast": rgba(0, 0, 0, 0.87),
        "400-contrast": rgba(0, 0, 0, 0.87),
        "500-contrast": white,
        "600-contrast": white,
        "700-contrast": white,
        "800-contrast": white,
        "900-contrast": white,
        "A100-contrast": rgba(0, 0, 0, 0.87),
        "A200-contrast": rgba(0, 0, 0, 0.87),
        "A400-contrast": white,
        "A700-contrast": white,
        "contrast-contrast": null,
    ),
    is-dark: true,
    foreground: (base: white,
        divider: rgba(255, 255, 255, 0.12),
        dividers: rgba(255, 255, 255, 0.12),
        disabled: rgba(255, 255, 255, 0.5),
        disabled-button: rgba(255, 255, 255, 0.3),
        disabled-text: rgba(255, 255, 255, 0.5),
        elevation: black,
        hint-text: rgba(255, 255, 255, 0.5),
        secondary-text: rgba(255, 255, 255, 0.7),
        icon: white,
        icons: white,
        text: white,
        slider-min: white,
        slider-off: rgba(255, 255, 255, 0.3),
        slider-off-active: rgba(255, 255, 255, 0.3),
    ),
    background: (status-bar: black,
        app-bar: #212121,
        background: #303030,
        hover: rgba(255, 255, 255, 0.04),
        card: #424242,
        dialog: #424242,
        disabled-button: rgba(255, 255, 255, 0.12),
        raised-button: #424242,
        focused-button: rgba(255, 255, 255, 0.12),
        selected-button: #212121,
        selected-disabled-button: #424242,
        disabled-button-toggle: black,
        unselected-chip: #616161,
        disabled-list-option: rgba(255, 255, 255, 0.12),
        tooltip: #616161,
    ),
);

@include mat.all-component-colors($fairhive-light-theme);

.dark-theme {
    @include mat.all-component-themes($fairhive-dark-theme);
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}