.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

span.title {
    text-align: center;
    font-weight: 300;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-items: baseline;
    justify-content: center;
    padding: 10px;
}

.value {
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
    width: 50%;
}

span.mat-display-1 {
    text-align: center;
    margin-bottom: 1%;
}

span.headline {
    padding: 8px;
    font-size: large;
    line-height: 150%;
}

.community {
    order: 5;
}

.fees {
    order: 3;
}

.escrow {
    order: 4;
}

.staking {
    order: 1;
}

.mentoring {
    order: 2;
}

@media all and (max-width: 500px) {
    .content {
        flex-direction: column-reverse;
        align-items: center;
    }

    .value {
        width: 100%;
    }

    .community {
        order: 5;
    }

    .fees {
        order: 4;
    }

    .escrow {
        order: 3;
    }

    .staking {
        order: 2;
    }

    .mentoring {
        order: 1;
    }
}