<div class="content">
    <div class="value">
        <span class="mat-display-2">🗽 Fair Fees Distribution</span>
        <span class="headline">↪️ transferred to Talents/Agents/Mentors | DAO</span>
        <span class="headline">💪 improves commitment, involvement and trust</span>
        <span class="headline">♻️ sustains an efficient sharing economy</span>
    </div>

    <div class="value">
        <span class="mat-display-2">💎 Escrow Mechanism</span>
        <span class="headline">🔐 fast & secure crypto payments</span>
        <span class="headline">💰 missions funds locked before delivery</span>
    </div>

    <div class="value">
        <span class="mat-display-2">💰 Staking & Earning</span>
        <span class="headline">🤝 “skin-in-the-game” people focused on success and excellence</span>
        <span class="headline">🤑 additional rewards (considering lock time & amount)</span>
    </div>

    <div class="value">
        <span class="mat-display-2">🧙‍♂️ Mentoring Program</span>
        <span class="headline">👨‍🔧 delivery : commitment + technical support</span>
        <span class="headline">📚 training/coaching/learning for better skills</span>
        <span class="headline">🤗 prevent social isolation</span>
    </div>

    <div class="value">
        <span class="mat-display-2">✨ Community & Efficient Fellowships</span>
        <span class="headline">🏆 successful fellowships promoted</span>
        <span class="headline">☑️ vetted talents + trusted clients</span>
    </div>


</div>