<div class="box">
    <span class="mat-headline-3 title">Protocol producing Fair Incentives and promoting New Economy</span>
    <div class="content">
        <div class="value staking">
            <span class="mat-headline-4">💰 Staking & Earning</span>
            <span class="headline">✅ In order to be a fellowship member and take the fees, Mentors and Agents must
                stake.<br />They will get additional rewards, considering lock-time and amount.</span>
            <span class="headline">✅ People are “skin-in-the-game” and focused on success and excellence...<br />This is
                exactly why the stakes cannot be slashed!<br />In any case, Mentors and Agents will get back their
                stakes.</span>
            <span class="headline">✅ Stakers will get a double benefit : distributed fees + staking rewards!</span>
        </div>
        <div class="value mentoring">
            <span class="mat-headline-4">🧙‍♂️ Mentoring Program</span>
            <span class="headline">✅ Because they are “skin-in-the-game”, Mentors are involved in delivery!<br />They
                provide technical support and assistance to their Mentees (Talents).</span>
            <span class="headline">✅ They are very important for the excellence in the community.<br />They train,
                coach and help their Mentees to improve their skills.</span>
            <span class="headline">✅ Providing learning programs or assets will be promoted and well rewarded.</span>
            <span class="headline">✅ This approach also prevents social isolation and help young Talents to become
                future
                though leaders or technical wizards.</span>
        </div>
        <div class="value fees">
            <span class="mat-headline-4">🗽 Fair Fees Distribution</span>
            <span class="headline">✅ Fees will be transferred to Talents, Agents and Mentors if the mission is over and
                well
                evaluated.<br />Otherwise, they will be transferred to the DAO's Wallet.</span>
            <span class="headline">✅ The incentives mechanism, base of the Tokenomic, improves commitment, involvement
                and trust.</span>
            <span class="headline">✅ The distribution sustains an efficient sharing economy.</span>
        </div>
        <div class="value escrow">
            <span class="mat-headline-4">💎 Escrow Mechanism</span>
            <span class="headline">✅ Mission payments and protocol fees are funded, protected and locked before
                delivery.</span>
            <span class="headline">✅ Clients and Talents can control and perform fast secure crypto-payments.</span>
            <span class="headline">✅ Talents are confident about the mission: they will be payed!</span>
        </div>
        <div class="value community">
            <span class="mat-headline-4">✨ Community & Efficient Fellowships of Projects</span>
            <span class="headline">Do you have in mind the movie <i>"Lord of the Ring"</i> ???<br />The logical concept
                of "fellowship" is the same!<br />Mentors and Agents support the Talents' quest: performing the best
                delivery for the Clients!</span>
            <span class="headline">✅ Community is built on smaller subsets : Fellowships.</span>
            <span class="headline">✅ Successful fellowships will be promoted by the protocol.</span>
            <span class="headline">✅ Vetted Talents can now act confidently with trusted Clients!</span>
            <span class="headline">✅ Community will become a Center of Excellence.</span>
        </div>
    </div>
</div>