.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2%;
}

.mat-headline-3 {
    text-align: center;
    font-weight: 300;
    margin-bottom: 32px;
}

.media {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

a {
    font-size: medium;
    text-decoration: none;
}

@media all and (max-width: 500px) {
    .media {
        flex-direction: column;
    }
}